<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" developmentDependency="true" requireReinstallation="True" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+sl50+win+wpa81+wp80" />
  <package id="FakeItEasy" version="1.22.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>
